
<!-- include tertiary-column.html -->
{%- comment -%}<!-- This widget separator will only show up when the tertiary column content is merged into the secondary column-->{%- endcomment %}
<div class="tertiary-widget-separator"></div>
<div>
  <p>Search terms are combined with 'AND'.</p>
  <p>Using <a href="https://github.com/bvaughn/js-search">js-search</a>.</p>
  <p>See its <a href="https://github.com/bvaughn/js-search">assistance notes</a>.</p>
  <p>
    Using its "AllSubstringsIndexStrategy".
    So "c", "ca", "cat", "a", "at", and "t" will all match the term "cat".
  </p>
  <p>
    This search is constrained to the
    <a href="https://github.com/folio-org/folio-org.github.io/tree/master/_data/config-api-endpoints.json">list</a>
    of API documentation endpoints.
  </p>
</div>
<!-- end of include tertiary-column.html -->
