
<!-- include tertiary-column.html -->
{%- comment -%}<!-- This widget separator will only show up when the tertiary column content is merged into the secondary column-->{%- endcomment %}
<div class="tertiary-widget-separator"></div>
<div>
  <p>Search terms are combined with 'AND'.</p>
  <p>Using <a href="https://github.com/bvaughn/js-search">js-search</a>.</p>
  <p>See its <a href="https://github.com/bvaughn/js-search/blob/master/README.md#tokenization">assistance notes</a>.</p>
  <p>
    Using its prefix-based search.
    So term "cat" is indexed as "c", "ca", and "cat".
  </p>
  <p>
    This search is constrained to dev.folio.org only.
    See <a href="/search-other/">other search facilities</a>
    for GitHub, FOLIO Wiki, etc.
  </p>
  <p>
    A specific set of important <a href="/faqs/where-is-developer-documentation-located/">other</a> documents are also indexed.
    The search results will show these prepended with "Remote &gt;&gt;".
  </p>
</div>
<!-- end of include tertiary-column.html -->
