<!-- This widget divider will only show up in the narrow layout -->
<div class="secondary-widget-divider"></div>
<div>
<!-- ../../okapi/doc/md2toc -l 2 -h 3 ../community/guide-issues.md -->
  <ul>
    <li><a href="">Introduction</a></li>
    <li><a href="#sign-up-for-an-account">Sign up for an account</a></li>
    <li><a href="#report-various-issues">Report various issues</a></li>
    <li><a href="#preparing-to-add-an-issue">Preparing to add an issue</a></li>
    <li><a href="#create-issue">Create issue</a></li>
    <li><a href="#issue-types">Issue types</a></li>
    <li><a href="#priority-levels">Priority levels</a></li>
    <li><a href="#continue">Continue</a></li>
    <li><a href="#status">Status</a></li>
    <li><a href="#linking">Linking</a></li>
    <li><a href="#filters-and-search">Filters and search</a></li>
  </ul>
</div>
