{% for section in site.data.download %}
        {% for item in section.download %}
          {% assign item_url = item | prepend:"/download/" | append:"/" %}
          {% assign p = site.download | where:"url", item_url | first %}
		  {% if item_url == page.url %}
		  <div id="js-toc-fixed" class="toc js-toc">
		  </div>		  
		  {% else %}
          <li><a id=subsubmenu href="{{ item_url | prepend: site.baseurl }}">{{ section.title }}</a></li>
		  {% endif %}		  
        {% endfor %}
{% endfor %}