<p style="font-weight: 400; margin-left: 13px; color: #38307f; font-size: 14px;">Getting Started</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for section in site.data.getstarted %}
  <div class="panel panel-default">
{% if section.title != "None" %} 
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{forloop.index}}" aria-expanded="false" aria-controls="collapse-{{forloop.index}}">
          {{ section.title }}
        </a>
      </h4>
    </div>
    <div id="collapse-{{forloop.index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
{% endif %}
      <ul class="list-group">
        {% for item in section.getstarted %}
          {% assign item_url = item | prepend:"/getstarted/" | append:"/" %}
          {% assign p = site.getstarted | where:"url", item_url | first %}
          <a class="list-group-item {% if item_url == page.url %}active{% endif %}" href="{{ p.url  | prepend: site.baseurl }}">{{ p.title }}</a>
        {% endfor %}
      </ul>
{% if section.title != "None" %}	  
    </div>
{% endif %}
  </div>
{% endfor %}
</div>
