<ul id=submenu class="subnav">
  <a href="javascript:void(0);" class="toc-menu icon" onclick="myFunction()">MENU</a>
  <div id=multipage>
  {% for section in site.data.guides %}
        {% for item in section.guides %}
          {% assign item_url = item | prepend:"/guides/" | append:"/" %}
          {% assign p = site.guides | where:"url", item_url | first %}
		  {% if item_url == page.url %}	
		  <div id="js-toc" class="toc">
		  </div>
		  {% else %}
          <li class="pg-li-border"><a id=subsubmenu href="{{ item_url | prepend: site.baseurl }}">{{ section.title }}</a></li>
		  {% endif %}		  
        {% endfor %}
  {% endfor %}
</div>
</ul>
