<div class="f-drawer-nav">
  <div>
    <ul>
      <li>
        <a class="drawer-link" href="/"> Overview </a>
      </li>
      <li>
        <a class="drawer-link" href="/doc/ref"> Reference </a>
        <ul>
          <li>
            <a class="drawer-link" href="/doc/api"> API documentation </a>
          </li>
          <li>
            <a class="drawer-link" href="/source-code"> Source code </a>
            <ul>
              <li>
                <a class="drawer-link" href="/source-code#server-side"> Server-side </a>
              </li>
              <li>
                <a class="drawer-link" href="/source-code#client-side"> Client-side </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="drawer-link" href="/doc/"> Documentation </a>
      </li>
      <li>
        <a class="drawer-link" href="/doc/guides"> Guides </a>
      </li>
    </ul>
    <hr/>
    <ul>
      <li>
        <a class="drawer-link" href="http://ux.folio.org"
           title="User Experience design"> UX </a>
      </li>
    </ul>
  </div>
</div>
