<!-- FOLIO Topnav v0.0.1 -->
<nav class="projectwide-navbar">
  <a class="projectwide-navbar-logo" href="https://www.folio.org/"><img class="img-indent" height="18px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAehJREFUeNq8V9FRwzAMTXL9xxvQDfAIYYKGCQgbhAkoE2SEskG6QWGChAlSJkg2MNbxwqnGceQcoDtd7mpbT0+SJTdJIMYYbXUwX7JP/kss2MFcShl5Xlmt1gCfHGBiv411Xro3C6wpq3Wk/x9rgEfPemFZ5BHAN2uA32f23AvDvJ1xfh4YVbyb2VMKc50HnPd6mptlqQR2GtdB2K6IGF1Xl/FZ4N9OEGaVpukZYOREiyh0Vl+tXjiV4mDvLrhijaYOGDF4QvXT2aNVDSLP5IQk3KUg3NrTcErW7QZ3T5AIbyAIzZw8omp3YKnxnYQY3oqYelpeE2A8BNZaFJC4021YDonNHcJVWL1G7nzsXKF9V9FsBdFoF/Kfx9rMhPt08suShe6m1RpXbUnGWODNDGiNvBUCG5RXKkyFOlmVS8Xm8gmMY6Vld1xJgRt2NQy+vsKi34uFKzYJ2SxCoJqxPbCnUOU8i9rAqyUkPXcgc+Yu5eiFRiFG3JG9Qh6Qz46deYvIJNVM8+N5xLoWD2/N8jyAec7OFGadlO5jj4eXF1mJ78mTomEFcMUNuLmtWZENvkEfMdl4v69dAz0D37OrUS2NvAB4LrlKvHKnsPdwQgnOf3c6VsVKMo8V5rHGU2W0naj7q38unwIMAD/FD0FcYUD3AAAAAElFTkSuQmCC" alt="FOLIO Project logo">&nbsp;FOLIO&nbsp;Project</a>
  <ul class="projectwide-navbar-right">
    <li class="projectwide-navbar-dropdown" id="projectwide-navbar-overview-dropdown">
      <div class="projectwide-navbar-dropdown-button">Overview&nbsp;&#8595;</div>
      <ul class="projectwide-navbar-dropdown-selection">
        <li><a href="https://www.folio.org/">About</a></li>
        <li><a href="https://wiki.folio.org/display/PC/FOLIO+Roadmap">Platform &amp; Roadmap</a></li>
        <li><a href="https://www.folio.org/customization-hosting/">Customization &amp; Hosting</a></li>
        <li><a href="https://trello.com/b/A27ucwg8/events">News &amp; Events</a></li>
        <li><a href="https://www.folio.org/community/">Community</a></li>
        <li><a href="https://discuss.folio.org">Resources</a></li>
      </ul>
    </li>
    <li class="projectwide-navbar-dropdown" id="projectwide-navbar-developers-dropdown">
      <div class="projectwide-navbar-dropdown-button">Developers&nbsp;&#8595;</div>
      <ul class="projectwide-navbar-dropdown-selection">
        <li><a href="https://dev.folio.org/">Documentation</a></li>
        <li><a href="https://dev.folio.org/source-code/">Source Code</a></li>
        <li><a href="https://folio-project.slack.com/messages/">Chat</a></li>
        <li><a href="https://slack-invitation.folio.org/">Chat (Sign Up)</a></li>
        <li><a href="https://issues.folio.org/"> Issue Tracker</a></li>
      </ul>
    </li>
    <li>
      <a href="https://wiki.folio.org/" class="top-nav">Project Wiki</a>
    </li>
    <li>
      <a href="https://discuss.folio.org" class="top-nav">Discussion Boards</a>
    </li>
  </ul>
</nav>

<script type="text/javascript">
var projectwideNavbarActiveDropdown = {};

document
  .getElementById("projectwide-navbar-overview-dropdown")
  .addEventListener("click", projectwideNavbarShowDropdown);
document
  .getElementById("projectwide-navbar-developers-dropdown")
  .addEventListener("click", projectwideNavbarShowDropdown);

function projectwideNavbarShowDropdown(event) {
  if (projectwideNavbarActiveDropdown.id && projectwideNavbarActiveDropdown.id !== event.target.id) {
    projectwideNavbarActiveDropdown.element.classList.remove("active");
  }
  for (var i = 0; i < this.children.length; i++) {
    if (
      this.children[i].classList.contains(
        "projectwide-navbar-dropdown-selection"
      )
    ) {
      projectwideNavbarActiveDropdown.id = this.id;
      projectwideNavbarActiveDropdown.element = this.children[i];
      this.children[i].classList.add("active");
    } else if (
      this.children[i].classList.contains("projectwide-navbar-dropdown-button")
    ) {
      //adding the dropdown-button to our object
      projectwideNavbarActiveDropdown.button = this.children[i];
    }
  }
}

window.addEventListener('click', function(event) {
  if (!event.target.classList.contains("projectwide-navbar-dropdown-button")) {
    projectwideNavbarActiveDropdown.element.classList.remove("active");
  }
});
</script>
