{% for section in site.data.reference %}
        {% for item in section.reference %}
          {% assign item_url = item | prepend:"/reference/" | append:"/" %}
          {% assign p = site.reference | where:"url", item_url | first %}
		  {% if item_url == page.url %}	
		  <div id="js-toc-fixed" class="toc js-toc">
	      </nav>
		  </div>			  
		  {% else %}
          <li><a id=subsubmenu href="{{ item_url | prepend: site.baseurl }}">{{ section.title }}</a></li>
		  {% endif %}		  
        {% endfor %}
{% endfor %}