<ul id=submenu class="subnav">
 <a href="javascript:void(0);" class="toc-menu icon" onclick="myFunction()">MENU</a>
 <div id=multipage>
 {% for section in site.data.tools %}
        {% for item in section.tools %}
          {% assign item_url = item | prepend:"/tools/" | append:"/" %}
          {% assign p = site.tools | where:"url", item_url | first %}
		  {% if item_url == page.url %}
		  <div id="js-toc" class="toc">
		  </div>		  
		  {% else %}
          <li><a id=subsubmenu href="{{ item_url | prepend: site.baseurl }}">{{ section.title }}</a></li>
		  <li class="pg-li-border"><a id=subsubmenu href="{{ item_url | prepend: site.baseurl }}">{{ section.title }}</a></li>
		  {% endif %}		  
        {% endfor %}
 {% endfor %}
 </div>
</ul>