$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;

$screen-sm-min: 986px;
$screen-md-min: 995px;


$f-color-orange: #da6a2d;
$f-color-purple: #38307f;
$f-color-dark-grey: #515251;
$f-color-light-grey: #737272;
$f-color-lighter-grey: lighten($f-color-light-grey, 50%);
$base-line-height: 1.5 !default;  // from minima
$base-font-size:   16px !default; //from minima
$f-link-color: #2a7ae2; // from minima
$small-font-size:  $base-font-size * 0.875 !default; // from minima

// Define defaults for each variable.
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}