.site-header {
  border-top: 5px solid $f-color-purple;
  border-bottom: 1px solid $f-color-purple;
}

.site-title {
  &,
  &:visited {
    color: $f-color-orange;
  }
}

.site-nav {
  font-size: $small-font-size;

  .page-link {
    color: $f-color-purple;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  line-height: $base-line-height * $base-font-size * 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $f-color-purple;
}

.site-footer {
  border-top: 1px solid $f-color-orange;
}

.highlighter-rouge pre.highlight {
  background: $f-color-lighter-grey;
}

a.btn.btn-primary.githubEditButton:visited {
    color: #fff;
}

pre,
code {
  border: 1px solid $f-color-light-grey;
  background-color: $f-color-lighter-grey;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid $f-color-light-grey;
}
th, td {
  padding: 3px;
}
th {
  background-color: $f-color-lighter-grey;
}

:target {
  border-left: 5px solid $f-color-orange;
}
tr:target td:first-child {
  border-left: 5px solid $f-color-orange;
}

.vagrant-note {
  background-image: url(../images/vagrant-icon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 4px solid #2991CC;
  margin: 10px 0 15px 0;
  padding: 10px 15px 5px 100px;
}

.vagrant-on-windows-note {
  background-image: url(../images/vagrant-on-windows-icon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: 4px solid #0078D8;
  margin: 10px 0 15px 0;
  padding: 10px 15px 5px 100px;
}

.navbar-brand {
   padding-right:0px;
}

.form-control {
    margin-top: 7px;
	width: 120px;
}

.page-content h4 {
    font-size: 1.1em;
    font-weight: 300;
    padding-top: 16px; }
	
// api table label class	
.label {
    display: table-cell;
    font-size: unset;
    font-weight: bold;
    line-height: unset;
    color: #616161;
    text-align: unset;
    padding: unset;
    white-space: unset;
    vertical-align: unset;
    border-radius: unset;
}
	
@media screen and (min-width: 992px) {
.tocify {
   /* position: fixed; */
}
}

@media (max-width: 767px) {
    #toc {
        position: relative;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
}



