$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;

$f-color-orange: #da6a2d;
$f-color-purple: #38307f;
$f-color-dark-grey: #515251;
$f-color-light-grey: #737272;
$f-color-lighter-grey: lighten($f-color-light-grey, 50%);
