.highlighter-rouge pre.highlight {
  background-color: $f-color-lighter-grey;
}
code.highlighter-rouge {
  background-color: $f-color-lighter-grey;
}

pre {
  border: 1px solid $f-color-light-grey;
  padding-left: 2px;
  padding-right: 2px;
  background-color: $f-color-lighter-grey;
}
code {
  padding-left: 1px;
  padding-right: 1px;
  background-color: $f-color-lighter-grey;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid $f-color-light-grey;
}
th, td {
  padding: 3px;
}
th {
  background-color: $f-color-lighter-grey;
}

:target {
  border-left: 5px solid $f-color-orange;
}
tr:target td:first-child {
  border-left: 5px solid $f-color-orange;
}

// Set our link and visited colors
a {
  color: $f-link-color;
  text-decoration: none;

  &:visited {
    color: darken($f-link-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

div.form {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  text-align: left;
}
form input {
  font-size: 1.3em;
}
nav.folio {
  div.dropdown {
    z-index: 9;
  }
}
/* tocbot */
#js-toc-wrapper {
  background-color: $f-color-lighter-grey;
}
li.toc-list-item {
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
a.is-active-link::before {
  background-color: $f-color-orange;
}
