---
# Only the main Sass file needs front matter (the dashes are enough)
---
//Import bootstrap for styling
@import "bootstrap";

// Set the variables that we need to override.
@import "folio-base";

// Syntax highlighting styling
@import "base";
@import "syntax-highlighting";

// Provide our rules.
@import "folio";

@charset "utf-8";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 0px;
  margin-bottom: 46px;
  font-family: $base-font-family;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.page-content {
  padding-top: 25px;
  padding-bottom: 20px;
//  padding-left: 15px;
  
   h1 {
	font-size: 1.5em;
    font-weight: 100;
    text-transform: uppercase;
	letter-spacing: 0.01em;
//	margin-top: -50px;
  }
  
   h2 {
	font-size: 1.45em;
    font-weight: 300;
  }
  
   h3 {
	font-size: 1.25em;
    font-weight: 300;
  }  

  h4 {
    font-size: 1.1em;
    font-weight: 300;
    padding-top: 16px; }
	  
}

// Footer Styling
.footer-col-1 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
}

ul, ol {
    margin-left: 0px;
//	padding-left: 15px;
}

// Padding/Styling for Responsive menu
.navbar-collapse {
    padding-left: 30px;
}

.navbar-nav {
    margin-right: 0px;
}

// Pad the search in the nav bar to line it up
.form {
   padding-right: 15px;
}

.is-collapsible {
  max-height: 3000px;
}