---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Set our variables
@import "folio-base";

// Import the theme.
// It will provide its variables and rules.
@import "classic-jekyll-theme";

// Provide our rules.
@import "folio";
