<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include topnav.html %}
    <main class="page-content" aria-label="Content">
            <div class="container">
             <p class="space">
             <div class="container"><ul id="searchResults"></ul></div>
            </div>	
        <div class="container">	
          <div class="row">
             <div class="content-blk col-md-12">
		           {{ content }}
			         <br>
             </div>
          </div>		   
        </div>
        <div class="content-blk-b jumbotron">	
		   <div class="container">
	           <div class="row">
	              <div class="col-sm-8">
	                 <h2>FOLIO COMMUNITY PARTNERS</h2><br>
	              </div>
	           </div>	
               <div class="row">
                  <div class="col-sm-4">
		             <p class="text-right">
			            <img src="{{site.baseurl}}/images/texas.png" width="200" height="200">
		             </p>
                  </div>
                  <div class="col-sm-4">
		             <p class="text-center">
			            <img src="{{site.baseurl}}/images/cornell.png" width="200" height="200">
		             </p>		
                  </div>
                  <div class="col-sm-4">
		            <p class="text-left">
			           <img src="{{site.baseurl}}/images/chicago.png" width="200" height="200">
		            </p>		
                  </div>	
               </div>
	        </div>
	    </div>
		<div class="container">
		  <br>
            <div class="footer-col-wrapper">
              <div class="footer-col footer-col-1">
                <div class="contact-list">
                  &nbsp;&nbsp;&copy; 2018 The Open Library Foundation</li>
                </div>
              </div>
            </div>
        </div>		
    </main>
    {% include js_files.html %}
</body>
</html>
