<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include testtopnav.html %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-8">
<div class="container"><ul id="searchResults"></ul></div>
        </div>
    </div>
</div>
    <main>
        <div class="container">	
          <div class="row">
             <div style="padding-left:10px">
		           {{ content }}
			         <br>
             </div>
         </div>			
        </div>		
    </main>

    {% include footer.html %}
    
</body>
{% include js_files.html %}
</html>
