<!DOCTYPE html>
<html>

{% include head.html %}

<body style="padding-top: 187px;">
{% include topnav.html %}
    <main class="page-content" aria-label="Content">
        <div class="container">	
          <div class="row">
             <div style="padding-left:25px" class="col-md-12">
		           {{ content }}
			         <br>
             </div>
         </div>		   
        </div>
   <div class="jumbotron" style="border-top: 1px solid #da6a2d;border-bottom: 1px solid #da6a2d">	
		<div class="container">
	<div class="row">
	<div class="col-sm-8">
	<h2 style="padding-left:12px">FOLIO COMMUNITY PARTNERS</h1><br>
	</div>
	</div>	
   <div class="row">
        <div class="col-sm-4">
		<p style="padding:10px 50px 35px 0px" class="text-right">
			<img src="{{site.baseurl}}/images/texas.png" width="200" height="200">
		</p>
        </div>
        <div class="col-sm-4">
		<p style="padding:10px 50px 35px 0px" class="text-center">
			<img src="{{site.baseurl}}/images/cornell.png" width="200" height="200">
		</p>		
         </div>
        <div class="col-sm-4">
		<p style="padding:10px 50px 35px 0px" class="text-left">
			<img src="{{site.baseurl}}/images/chicago.png" width="200" height="200">
		</p>		
       </div>	
    </div>
	</div>
	</div>
  		<div class="container">  	
	        <ul class="contact-list">
          <li>&copy; 2017 The Open Library Foundation</li>
        </ul>
		</div>
    </main>
    {% include js_files.html %}
</body>

</html>
