<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include topnav.html %}
    <main class="page-content" aria-label="Content">
        <div class="container">	
          <div class="row">
             <div class="col-md-12">
		           {{ content }}
			         <br>
             </div>
         </div>			
        </div>		
    </main>

    {% include footer.html %}
    
</body>

<script>
  tocbot.init({
    headingSelector: 'h1, h2, h3',
	tocSelector: '#js-toc'
  });
  $(function() {
     $('h1, h2, h3').addClass('anchor');
  });
</script>

<script>
function myFunction() {
    var x = document.getElementById("submenu");
    if (x.className === "subnav") {
        x.className += " responsive";
    } else {
        x.className = "subnav";
    }
}
</script>

{% include js_files.html %}
</html>
