name: list-repos-api

# When there is a change to _data/repos.json file
# then list the repos that are API-related.

on:
  push:
    branches: [ master ]
    paths:
      - '_data/repos.json'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Extract repo names
      run: .github/workflows/list-repos-api.sh
