name: pr-config-apidocs

# If there is a change to this branch, then create PR.
# Changes would have been pushed here by gather-config-apidocs

on:
  push:
    branches: [ ongoing-config-apidocs ]
    paths:
      - '_data/config-apidocs.json'
      - '_data/config-api-endpoints.json'

jobs:
  create-pr:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: pull-request
      id: open-pr
      uses: repo-sync/pull-request@v2
      with:
        destination_branch: "master"
        pr_title: "Auto: Update data for config apidocs"
        pr_body: "Automated PR via workflow get-config-apidocs"
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: output-url
      run: echo ${{steps.open-pr.outputs.pr_url}}

